* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.cont_top {
    margin-bottom: 120px;
}


.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.cont__heading {
    margin-top: 40px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card-img {
    align-items: center;
    margin-bottom: 51px;
}

.card-link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin-top: 28px;
}


.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    /*height: 500px;*/
}

.cont__box {
    display: flex;
    justify-content: space-between;
}

.cont__card {
    /*height: 800px;*/
    /*width: 540px;*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 56px;


}

.cont__left {
    padding-left: 67px;
    width: 300px;
}

.text__form {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-top: 42px;
    margin-bottom: 8px;
}

.cont__form {
    opacity: 0.4;
    height: 72px;
    width: 100%;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
}

.text__form__message {
    width: 428px;
    height: 144px;
    opacity: 0.4;

    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
}

.cont__right {
    width: 540px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 53px;
    box-sizing: border-box;
}

.cont-body {
    margin-top: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container__top {
    margin: 0 auto;
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 44%;
}

.container__top__contacts {
    background-image: none
}

.header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.top-info {
    width: 504px;
    padding-top: 115px;
}

.top__info_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/contacts_bacground_head.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    margin-top: 54px;

}

.top_heading_contact {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 51px;
    margin-bottom: 16px;
}


.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;

}

.list {
    list-style-type: none;

}

.phone {
    display: flex;
    align-items: center;
}

.cont__icons {
    margin-right: 20px;
}

.text__top__cont {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.text__bottom {
    color: #FFFFFF;
}


.A:before {
    content: "A.";
    display: inline-block;
    margin-right: 16px;
}

.T:before {
    content: "T.";
    display: inline-block;
    margin-right: 16px;
}

.E:before {
    content: "E.";
    display: inline-block;
    margin-right: 16px;
}

.text__copyright {
    color: #FFFFFF;
    opacity: 0.4;
}

.heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.heading__footer {
    color: #FFFFFF;
    text-align: start;
    margin-bottom: 32px;
}

.what-we-do {
    padding: 64px;
    margin: 0 auto;
}

.top_heading {
    width: 100%;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.top-button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.footer__buttom {
    background: #5A98D0;
    /*border-radius: 0px;*/
    margin-top: 165px;
}

.cont__button {
    width: 100%;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
    padding: 15px 1px;

}


.project {
    margin: 0 auto;
}

.text-project {
    color: #222222;
    width: 75%;
    margin: 32px auto 64px;
    opacity: 1;
    text-align: center;
}


.project__item {
    position: relative;
    background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
    flex-grow: 1;
    border-radius: 10px;

}

.project__item__margin {
    margin-right: 32px;
}

.project__img {
    width: 100%;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    position: absolute;
    top: 64px;
    right: 64px;
    color: #FFFFFF;
}

.project__text2 {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    position: absolute;
    top: 32px;
    left: 32px;
    color: #FFFFFF;

}

.bottom {
    background: #316099;
    margin-top: 112px;
}

.footer__item {
    padding-top: 91px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.container__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item {
    max-width: 504px;
    padding-top: 91px;
    /* padding-left: 113px; */
}

.footer__line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-top: 95px;
}

.footer__phone {
    display: block;
    margin-right: 19px;
}

.list_type {
    list-style-type: disc;
}

.footer__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}

.copyright {
    margin-top: 64px;
    padding-bottom: 32px;

}

.footer__button {
    padding: 10px 80px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #5A98D0;
    border-radius: 0;
}

.map {
    width: 100%;
    margin: 60px auto 2px;
}


@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .card-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
    }

    .footer__button {
        display: inline-block;
        padding: 10px 50px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #5A98D0;

    }

    .container__bottom {
        justify-content: space-between;
        align-items: center;


    }

    .cont__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom {
        margin-top: 64px;
    }

    .cont__right {
        width: 520px;

    }
    .text__bottom{
        margin-bottom: 25px;
    }
}

/*мобильный авриант*/
@media (max-width: 667px) {
    .top_heading {
        width: 100%;
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.04em;
        margin-bottom: 12px;

    }

    .top {
        /*border: 1px solid #c01f1f;*/
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
        background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
    }

    .container__top {
        background-image: none;
    }

    .text-top {
        width: 100%;
        text-align: center;

    }

    .top-info {
        width: 100%;
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-button {
        margin-top: 32px;
        font-size: 12px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        padding: 0 8px;
    }

    .card {
        width: 100%;
        padding-bottom: 21px;

    }

    .project__parent {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    .project__item__margin {
        margin: 0;
    }

    .container__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__item {
        width: 100%;
        padding-top: 18px;
    }

    .footer__button {
        display: inline-block;
        padding: 3px 15px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #5A98D0;
        border-radius: 0;
    }

    .copyright {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        padding-bottom: 32px;
    }

    .footer__list {
        margin: 32px;
    }

    .footer__line {
        margin-top: 41px;
    }

    .heading__footer {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
    }

    .text__bottom {
        text-align: center;
        margin-bottom: 17px;
    }

    .bottom {
        margin-top: 50px;
    }

    .project__item__margin {
        margin-bottom: 16px;
    }

    .project__text2 {
        font-size: 16px;
        line-height: 19px;
        top: 26px;
        left: 16px;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        top: 16px;
        right: 16px;
    }

    .heading {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .container {
        padding-left: 15px;
        padding-right: 17px;
    }

    .card-link {
        margin-top: 25px;
    }

    .header {
        padding-top: 24px;
    }


    .cont__right {
        width: 320px;

    }

    .A:before {
        content: "1";
    }

    .T:before {
        content: "2";
    }

    .E:before {
        content: "3";
    }
}

