$bd: 1px solid #000;
$first_color: #006601;
$second_color: red;
$third_color: white;
$header_text: darkgreen;
$white_text: white;
$lr: 50px;
$lh: 16px;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  //width: 80%;
  border: $bd;
  margin: 0 auto;
}

.header {
  //width: 80%;
  margin: 0 auto;

}

.email {
  text-decoration: none;
  color: $white_text;
}


.header_contact {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  height: 80px;
  border: $bd;
  align-items: center;
  background-color: $first_color;
  color: $white_text;
  padding: 0 $lr;
}

.social {
  width: 40px;
}

.text {
  letter-spacing: 0.05em;

}

.phone {
  font-size: 16px;
}

.menu_contact {
  padding: 0 $lr;
  height: 200px;
  border: $bd;
  background-color: $third_color;
  display: flex;
  align-items: center;
}

.left_menu {
  width: 500px;
  flex-grow: 1;
  //border: $bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_menu {
  //border: $bd;
  flex-grow: 1;
  display: flex;
  justify-content: right;
}

.label {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.button_menu {
  margin: 5px;
  padding: 10px 15px;
  block-size: border-box;
  background-color: #fff;
  border-radius: 10px;
  text-decoration: none;
  color: $first_color;
  font-size: 18px;
  font-weight: bold;
}

.button_menu:hover {
  border: 3px solid $first_color;
  padding: 7px 12px;

}

.label {
  color: $first_color - 60;

}

.about_us {
  height: 300px;
  background-image: url(../img/archaeology-77741_1280.jpg);
  color: $white_text;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: $lr;
  letter-spacing: 0.09em;
  line-height: $lh*2;
}

.content {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  //box-sizing: border-box;
  width: 300px;
  height: 500px;
  border: $bd;
  padding: 20px;
}

.img_cart {
  width: 260px;
  //margin: 10px;
  height: 250px;
  background-color: $first_color;
  border: 3px solid red;
}