.container {
    /* РАспределение по горизонтали */
    display: flex; 
    /* центрирование блоков на странице 
    flex-end flex-start*/
    /* justify-content: center;  */
    
    /* равноменое распределение блоков по горизонали  */
    /* justify-content: space-around; */
/* равноменое распределение блоков по горизонали  
првый и последний спава и слева остатьные равномерно по стрнаице
*/
    justify-content: space-around;
    height: 200px;
    background: rgb(190, 186, 186);
    /* выравнивание по вертикали flex-start flex-end center  Если stratch , то у блоков не должно быть высоты*/
    /* align-items: stretch; */
    flex-wrap: wrap;
}
.container-2 {
    display: flex;
    height: 300px;
    border: 1px solid #000;
    align-items: center;
}


.header {
    height: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 60px;

}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.block {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
}
.logo {
    width: 25px;
    height: 25px;
    background-color: rgb(248, 11, 11);
}

.container_2 {
    display: flex;
    height: 200px;
    background: rgb(221, 217, 217);
    justify-content: space-around;
}
.block_2 {
    align-self: center;
}.block_3 {
    align-self: flex-end;
}

.block3 {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    /* flex-grow: 1; */
}

.container_3 {
    display: flex;
}

.bl_1 {
    flex-grow: 1;
    order: 1;
}.bl_2 {
    flex-grow: 1;
    order: 1;
}
.block4 {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    
}
.logo1 {
    width: 35px;
    height: 35px;
    background: forestgreen;
    position: absolute;
    top: 10px;
    left: 10px;
}
.header1 {
    border: 1px solid #000;
    height: 100px;
    position: relative;
}

.container1 {
    max-width: 500px;
    margin: 0 auto;
}